*{
	margin:0;
	padding: 0;
	/*box-sizing: border-box;
	border: 1px solid block;*/
}
.landing-page {
  height: 100vh;
  background: url(../assets/images/brown.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*Landing Content CSS*/
.landing-title {
    font-size: 70px;
    text-align: center;
    color: #E5E4E2;
    font-family: Times New Roman, serif;
}
/* animation for span */
.landing-title > span {
    animation-name: colorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes colorChange{
    0% {color: red}
    55% {color: yellow}
    100% {color: blue};
}
/*.landing-bttn:hover{
    background: #25383C;
}
.landing-bttn{
  background-color: #B38481;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  cursor: pointer;
}*/


/*Home Page---------------------------------------------------*/
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: none;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}
.right > img{
  transition: 0.5s;
}
.right > img:hover{
  transform: scale(1.2);
}

@media only screen and (max-width:768px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:360px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
/*About Us Page-----------------------------------------------------*/
@media screen and (max-width: 360px) {
  .row {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 361px) and (max-width: 768px) {
  .row {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*Gallery-------------------------------------------------------*/
img {
  width: 100%;
  height: auto;
}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

/* hover */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 0;
}

.location-listing:hover .location-image img {
  transform: scale(2.2);
}
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}
/*Contact Us----------------------------*/
.contact-container-fluid{
  text-align: center;
}

.contact-btn:hover{
    background: #8BB381;
}
.contact-btn{
  background-color: #827B60;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.contact-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
@media screen and (max-width: 360px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  iframe{
    height:300px;
    width: 300px;
  }
}
@media screen and (min-width: 361px) and (max-width: 768px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}